@import "components/variables";

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

.button {
    
    font-size: 2rem;
    display:block;
    width: 90%;
    padding: 2rem;

    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 15px 40px;
        transform: all 0.2s;
        display: inline-block;
        border-radius: 100px;
        position: relative;
        font-size: $default-font-size;
    }
    
    &:hover {
        transform: translateY(-3px);
        box-shadow: 0px 10px 20px rgba($color-black, 0.2);

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }

    }
    
    &:active {
        transform: translateY(-1px);
        box-shadow: 0px 5px 10px rgba($color-black, 0.2);
    }

    
}


.form {
    padding: 10rem 0 0 3rem;
    background-color: $color-primary-light;
    margin: 0 auto;

    &__group:not(:last-child) {
        margin-bottom: 2rem;
    }

    &__input {
        font-size: 1.5rem;
        font-family: inherit;
        color: inherit;
        padding: 1.5rem 2rem;
        border-radius: 3px;
        background-color: rgba($color-white, .5);
        border: none;
        border-bottom: 3px solid transparent;
        width: 65%;
        display:block;

        &:focus:invalid {
            border-bottom: 3px solid $color-secondary-dark;
        }

        &:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba($color-black, .1);
            border-bottom: 3px solid $color-primary;
        }

        &::-webkit-input-placeholder {
            color: $color-grey-dark-2;
        }
    }
    
    &__label {
        font-size: 1.2rem;
        font-weight: 700;
        margin-left: 2rem;
        margin-top: .7rem;
        display: block;
        transition: all .3s;
    }

    &__input:placeholder-shown + &__label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
    }
}


.functionArea {
    margin: 0;
    background-image: linear-gradient($color-secondary-light, $color-secondary-dark);
    height:100vh;
}

.formArea {
    background-color: $color-primary-light;
    height:100vh;
}